@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-h: 4rem;
    --main-h: calc(100vh - var(--header-h))
}

.chat-container-scroll::-webkit-scrollbar,
.left-sider-scroll::-webkit-scrollbar {
    width: 5px;

}